body {
	background: #ffffff;
	color: #333333;
	margin: 0px 10px;
}
#container {
	max-width: 768px;
	margin: 0px auto;
}

#pic, #name, #buttons {
	text-align: center;
}
#pic {
	margin-top: 100px;
}
#pic_avatar {
	border: 2px solid #222;
	border-radius: 50%;
	max-width: 200px;
}

#name, #buttons {
	margin-top: 20px;
	margin-bottom: 30px;
}

#buttons {
	display: flex;
	justify-content: center;
}
.button {
	background: #ffffff;
	border: 1px solid #333333;
	border-radius: 3px;
	width: 60px;
	height: 40px;
	/* display: inline-block; */
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	margin-left: 5px;
}
.button:hover {
	background: #777;
	border: 1px solid #777;
}
.button:nth-of-type(1) {
	margin-left: 0px !important;
}

.icon {
	text-align: center;
	color: #333;
}

#title, #bio {
	font-family: "Roboto Slab", "Arial", sans-serif;
	font-weight: normal !important;
}
#bio {
	color: #555 !important;
	size: 9pt;
}
#title  {
	margin-bottom: 0px !important;
}

@media (max-height: 600px) {
	#pic {
		margin-top: 10px;
	}
}